* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.fonts{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  
}
header{
  background-color: rgb(243, 242, 242);
}
main{
  
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: rgb(243, 240, 240);
}
.main-div{
  
  margin: 10px;
  border-radius: 30px;
  box-shadow: 0px 13px 40px 15px  rgb(218, 217, 217);  
  width: 90%;
  min-height: 500px;
  background-color: rgb(230, 230, 230);
}
main div a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 text-decoration: none;
 margin: 0%;
}
main div a div{
  font-family: monospace;
  font-size: 30px;
  color: rgb(44, 44, 44);
  
}
main div a img{
  margin: 10px ;
  border-radius: 30px;
  width: 80%;
 
}
main div div {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 10px 30px;
}
